@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kanit: var(--font-kanit);
  --color-primary: #71ddae;
  --color-background: #1c1c1c;
  --color-primaryLight: #2a9d7a;
  --color-secondary: #f3c16d;
  --color-rose: #ffb3e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply hover:cursor-pointer;
}
